parameters:
    paths:
        - src
    level: max
    ignoreErrors:
        - '#Call to an undefined method COM\:\:#'
    #    - '#Instantiated class Variant not found#'
    #    - '#Instantiated class COM not found#'
    #    - '#invalid type COM#'

    excludePaths:
        - src/Systemic/Plugins/Os/Windows.php
        - src/Systemic/Process/Launcher/Windows.php
        - src/Systemic/Process/WindowsManaged.php
