parameters:
    paths:
        - src
    level: 5
    ignoreErrors:
        - '#Instantiated class Variant not found#'
        - '#Instantiated class COM not found#'
        - '#invalid type COM#'

    excludes_analyse:
        - src/Systemic/Plugins/Os/Windows.php
        - src/Systemic/Process/Launcher/Windows.php
        - src/Systemic/Process/WindowsManaged.php
