parameters:
    paths:
        - src/
    level: max
    ignoreErrors:
        - '#Call to an undefined method COM\:\:#'
    #    - '#Instantiated class Variant not found#'
    #    - '#Instantiated class COM not found#'
    #    - '#invalid type COM#'

    excludePaths:
        - src/Plugins/Os/Windows.php
        - src/Process/Windows.php
        - src/ActiveProcess/Windows.php
